<launch>

    <node name="quadrotor_localization"
          pkg="quadrotor_localization" type="quadrotor_localization" output="screen" respawn="false">
        <rosparam file="$(find quadrotor_localization)/config/icp_params.yaml" command="load"/>
    </node>

    <include file="$(find quadrotor_localization)/launch/robot_localization_icp.launch"/>
</launch>
